<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lanxi.elegift.dao.DoOpen">
	<!-- 通过机构代码和商品编号确定获取商品单价  -->
	<select id="getAmtByOpen" parameterType="com.lanxi.elegift.bean.in.OpenBean" resultType="String">
		select kzlb from JFDH_OPEN where spbh=#{spbh} and jgdm=#{jgdm}
	</select>
	<select id="getSpbhsByJgdm" parameterType="String" resultType="String">
		select spbh from JFDH_OPEN where jgdm=#{jgdm} limit 1 
	</select>
</mapper>	