<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         metadata-complete="true" version="3.1">
<display-name>com.lanxi.elegift</display-name>
  	<!-- 配置日志文件位置 该值会在后续配置中被替换为项目的路径-->
	<context-param>
  		<param-name>webAppRoot</param-name>
  		<param-value>jfdh.root</param-value>
  	</context-param>
	<!-- log4j初始化Servlet -->
  	<servlet>
  		<servlet-name>log4j</servlet-name>
  		<servlet-class>com.lanxi.elegift.servlet.Log4jServlet</servlet-class>
  		<!-- 配置文件相对项目路径的位置 -->
  		<init-param>
  			<param-name>location</param-name>
  			<param-value>/WEB-INF/classes/properties/log4j.properties</param-value>
  		</init-param>
  		<load-on-startup>1</load-on-startup>
  	</servlet>
  	   
    <!-- 编码过虑 -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 解决HTTP PUT请求Spring无法获取请求参数的问题 -->
    <filter>
        <filter-name>HiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HiddenHttpMethodFilter</filter-name>
        <servlet-name>SpringMVC</servlet-name>
    </filter-mapping>

  	
  	<!-- 测试Servlet
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>com.lanxi.elegift.servlet.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
  	 -->
  	<!-- spring分发器 -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:xml/spring.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>



</web-app>
