<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lanxi.elegift.dao.DoBrch">
	<!-- 根据机构代码获取机构名称 -->
	<select id="getJgmcByJgdm" parameterType="String" resultType="String">
		select jgmc from JFDH_BRCH where jgdm=#{jgdm}
	</select>
</mapper>	